<div class="banner">
  <div class="container h-100">
    <div class="row justify-content-center align-content-center h-100">
      <div class="banner-typed"></div>
    </div>
  </div>
</div>
<div class="cocktails-background">
  <div class="cocktails-index container">
    <!-- <h1 class="cocktails-index-main-title text-center my-4">Cocktails</h1> -->
    <div class="row mt-5 justify-content-center">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail, class: 'cocktails-index-link m-3' do %>
          <div class="image-box card border-light" style="width: 162px; height: 162px;">
            <div class="review-average text-center">
              <% if cocktail.reviews.length.positive? %>
                <% total_stars = cocktail.reviews.reduce(0) do |acc, review| %>
                  <% acc += review.rating %>
                  <% acc %>
                <% end %>
                <% avg_star_rating = (total_stars.fdiv(cocktail.reviews.length)).round %>
                <% avg_star_rating.times do  %>
                  <i class="full-star fas fa-star"></i>
                <% end %>
                <% (Review::RATINGS.length - avg_star_rating - 1).times do  %>
                  <i class="empty-star far fa-star"></i>
                <% end %>
              <% end %>
            </div>
            <% if cocktail.image_url %>
              <%= image_tag cocktail.image_url, width: 160, height: 160%>
            <% end %>
            <% unless cocktail.photo.file.nil? %>
              <%= cl_image_tag cocktail.photo, height: 160, width: 160, crop: :fill %>
            <% end %>
          </div>
          <div class="cocktails-index-title text-center mt-2">
            <%= cocktail.name %>
          </div>
        <% end%>
      <% end %>
    </div>
  </div>
</div>