<div class="ingredients-index container">
  <div class="row">
    <% @ingredients.order('name ASC').each do |ingredient| %>
      <div class="card flex-grow-1">
        <div class="card-body">
          <%= ingredient.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>